<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118513305322-pfult3hp6k061f1fts8lb68368pcau0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118513305322-pfult3hp6k061f1fts8lb68368pcau0a</string>
	<key>API_KEY</key>
	<string>AIzaSyDWGZw4JE4eEU9v8TxNKt6mtGFu60WLRQU</string>
	<key>GCM_SENDER_ID</key>
	<string>118513305322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ServicesApp</string>
	<key>PROJECT_ID</key>
	<string>servicesapp-32c30</string>
	<key>STORAGE_BUCKET</key>
	<string>servicesapp-32c30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118513305322:ios:9fea789bb25d210db73993</string>
</dict>
</plist>